html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* GENERAL SETTINGS */

:root {
    --card-gap: 16px;
    --title-card-space: 10px;
    --card-icon-size: 20px;
    --card-border-radius: 10px;
}

@font-face {
    font-family: 'Gabarito';
    src: url('./assets/fonts/gabarito-variablefont_wght-webfont.woff') format('woff'),
         url('./assets/fonts/gabarito-variablefont_wght-webfont.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}

/* Set sidebar and main column as a column each. */
html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    font-family: 'Gabarito','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
}



/* SIDEBAR REGION */

#sidebar {
    color: white;
    height: 100%;
    background-color: #1792D4;
    font-weight: 600;
}


#dashboard-logo-container {
    padding: 20px;
    font-size: 24px;

    /* Give logo and text each 1 column */
    display: grid;
    grid-template-columns: 2rem 1fr;
    column-gap: 4px;

    /* Align logo and text in center of y-axis */
    align-items: center;
}

#logo {
    height: 2rem;
    width: auto;
}

.sidebar-icons {
    height: 1rem;
    width: auto;
}

#links-container {
    margin-top: 50px;
}


.link {
    padding-left: 20px;
    margin-bottom: 16px;
    height: 1.5rem;

    /* align icon with icon text in center and place gaps between */
    display: grid;
    grid-template-columns: 1rem 1fr;
    align-items: center;
    column-gap: 20px;

    transition: background-color 0.3s;
}

.link:hover {
    cursor: pointer;
    background-color: #175fd4;
}




/* CONTENT REGION */

#content {
    display: grid;
    grid-template-rows: min-content auto;
}

header {
    padding: 16px 30px;
}

/* first row of header */
#header-top {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
    margin-bottom: 20px;
}

/* center everthing and insert grid */
#search-container,
#header-top-right {
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
    align-items: center;
}

/* search bard customize */
#search {
    font-family: 'Gabarito', sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #E2E8F0;
    width: 400px;
    
    justify-self: start;
}

#profile-pic {
    border-radius: 50%;
    height: 34px;
    width: auto;
}

.header-icon,
label {
    height: 1.25rem;
    width: auto;
}

label:hover {
    cursor:  pointer;
}

#header-top-right {
    column-gap: 16px;
    justify-self: end;
}

/* second row of header */

#profile-pic-large {
    border-radius: 50%;
    height: 3rem;
    width: auto;
}

/* set layout for left and right side */
#header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* seperate picture from name */
#header-bottom-left {
    display: grid;
    grid-template-columns: 3rem 1fr;
    column-gap: 12px;
    align-items: center;
}

/* individual columns for each button */
#header-bottom-right {
    display: grid;
    grid-template-columns: repeat(3, 125px);
    align-content: center;
    justify-content: end;
    justify-items: end;
}

/* button custimization */
button {
    font-family: 'Gabarito';
    color: white;
    background-color: #1792D4;
    border-radius: 36px;
    border: none;
    width: 100px;
    height: 36px;

    transition: background-color 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #175fd4;
}




/* INFORMATION(PROJECTS) SECTION */


/* set grid for project and (trending + announcement) seperate columns */
#information {

    background-color: #E2E8F0;
    padding: 16px 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: var(--card-gap);
}

/* ensures cards take up all avaliable viewing space */
#projects {
    display: grid;
    grid-template-rows: 16px 1fr;
}

/* set cards to a 3X2 grid*/
#cards {

    padding-top: var(--title-card-space);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--card-gap);
}

.card-icon {

    height: var(--card-icon-size);
    width: auto;
    margin-left: 4px;
  }

  /* inner card settings */
.card {


    background-color: white;
    border-radius: var(--card-border-radius);
    position: relative;
    padding: 20px 16px;

    display: grid;
    grid-template-rows: 1fr var(--card-icon-size);
}

.card::before {
    content: '';
    width: 8px;
    background: #F0B429; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
  }

  .project-info {
    color: #858585;
    font-size: 12px;
  }


  .card-icons {
    justify-self: end;
    align-self: end;
  }

  /* ANNOUNCEMENT AND TRENDING SECTION */


  /* set 2 cards to a row each */
#others {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}


/* seperate card title and car to distinct rows*/
#announcements,
#trending {
    display: grid;
    grid-template-rows: 16px 1fr;
}

/* set card settings */
.others-card {
    margin-top: var(--title-card-space);
    background-color: white;
    border-radius: var(--card-border-radius);
    padding: 20px 16px;
}

.announcement-rows {
    padding: 10px 0;
}

#trending-card {
    display: grid;
}

#row-2 {
    border-top: 2px solid #D2D2D2;
    border-bottom: 2px solid #D2D2D2;
}

/* align user profile with name and sub-text to center */
.trending-user {
    display: grid;
    grid-template-columns: 34px 1fr;
    column-gap: 12px;
    align-items: center;
}

.user-title {
    color: #858585;
    font-size: 12px;
}